<div ng-controller="praiseController" class="container">
    <form class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" ng-model="praiseFilter" class="form-control empty" placeholder="Search...">
        </div>
        <div class="btn-group btn-group-sm">
            <button ng-click="buttonClick('/praise/en')" class="btn btn-primary">English</button>
            <button ng-click="buttonClick('/praise/tel')" class="btn btn-primary">Telugu</button>
        </div>
    </form>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>S.No</th>
                <th>Praise</th>
                <th>Verse</th>
            </thead>
            <tr ng-repeat="data in dataList | filter:searchFilter | pagination: currentPage * pageSize | limitTo: pageSize">
                <td> {{data.id}} </td>
                <td> {{data.Praises}} </td>
                <td> {{data.Verses}} </td>
            </tr>
        </table>
    </div>

    <!-- Pagination -->
    <div class="col-md-12 text-center" ng-show="dataList.length">
        <nav>
            <ul id="pagination-demo" class="pagination-sm"></ul>

            <span>Page {{currentPage + 1}} of {{ numberOfPages() }}</span>

            <ul class="pager">
                <li>
                    <a href ng-disabled="currentPage == 0" 
                    ng-click="currentPage = currentPage-1">
                        <span aria-hidden="true">&larr;</span> Previous
                    </a>
                </li>
                <li>
                    <a href ng-disabled="currentPage >= dataList.length/pageSize - 1" 
                        ng-click="currentPage = currentPage+1">Next 
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End of Pagination -->
    
</div>