/* app css stylesheet */
html {
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 112.5%;
  margin: 0;
  padding: 0;
}

body {
    font-size: 14px;
    letter-spacing: normal;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.42857142857143;
    
    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 70px; /*nav is fixed to top, if fixed to bottom use padding-bottom: 70px; */
    padding-bottom: 20px;
}

.appNav {
  background: #205081;
  border-bottom: 1px solid #2e3D54;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
}

/*.nav.navbar-nav.navbar-right li a {
    color: #fff;
}*/

.dropdown-menu li a{
  color: #333;
}


