<div ng-controller="quoteController" class="container">

    <form class="navbar-form navbar-left" >
    <h4> Collection of Christian Quotes & Phrases from various Evangelists, Authors </h4>
    <h4>and believers like you.. </h4>
    <!--<h6> To inspire in our journey of Christian faith. </h6>-->
    </form>
    <form class="navbar-form navbar-right" >
        <div class="form-group">
            <input type="text" ng-model="quoteFilter" class="form-control empty" placeholder="Search..." >
        </div>
        <div class="btn-group">
            <button ng-click="buttonClick('/quotes/en')" class="btn btn-primary sm">English</button>
            <button ng-click="buttonClick('/quotes/tel')" class="btn btn-primary sm">Telugu</button>
        </div>
        
    </form>
    
    
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <th>S.No</th>
                    <th>Quote/Phrase</th>
                </thead>
                <tr ng-repeat="data in dataList | filter:quoteSearchFilter | pagination: currentPage * pageSize | limitTo: pageSize">
                    <td> {{data.id}} </td>
                    <td> {{data.Quote}} </td>
                </tr>
            </table>
        </div>
        
        <div class="pagination pagination-centered" ng-show="dataList.length">
            <ul class="pagination-control pagination">
                <li>
                    <button type="button" class="btn btn-primary sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">&lt; PREV</button>
                </li>
                <li>
                    <span>Page {{currentPage + 1}} of {{ numberOfPages() }}</span>
                </li>
                <li>
                    <button type="button" class="btn btn-primary sm" ng-disabled="currentPage >= dataList.length/pageSize - 1" ng-click="currentPage = currentPage+1">NEXT &gt;</button>
                </li>
            </ul>
        </div>
   
</div>
