<div ng-controller="songController" class="container">
    <form class="navbar-form navbar-left">
        <h4>{{songView}} Songs List</h4>
    </form>
    <form class="navbar-form navbar-right" >
        <div class="btn-group">
            <button ng-click="buttonClick('/songs/en')" class="btn btn-primary sm">English</button>
            <button ng-click="buttonClick('/songs/tel')" class="btn btn-primary sm">Telugu</button>
        </div>
        
    </form>
    
    
        <div class="container" style="white-space: pre;">
             <table class="table table-striped">
                <tr> <td> {{selectedSong}}</td> </tr>
            </table>
        </div>
</div>